.title-content {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: underline;
}

.title {
    display: flex;
    justify-content: center;
}

img {
    width: 3rem;
    margin-left: 10px;
    margin-right: 10px;
}